* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


img {
    max-width: 80%;
    height: auto; 
    max-height: 150px;
    object-fit: contain;
}

.access-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}


.access-card-1,
.access-card-2,
.access-card-3,
.access-card-4 {
    background-color: rgb(198, 209, 219);
    width: 250px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
}


.access-badge {
    background-color: rgb(142, 13, 182);
    color: #ffffff;
    font-size: 16px;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}